{% extends 'base.html '%}

{% block title %} Administração {% endblock %}

{% block main %}

    <div class="row">
        <div class="col-12">
            <form class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite o nome">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <input type="text" class="form-control" id="sobrenome" name="sobrenome" placeholder="Digite o sobrenome">
                </div>

                <input type="checkbox" name="meu-checkbox">
                <input type="range", name="meu-radio">
                <button type="submit" class="btn btn-primary mb-2">Buscar</button>
            </form>
        </div>
    </div>
    <div class="col-4">

    </div>

    <div class="row">
        <div class="col">

        </div>
        <div class="col-6">
            <h3>Listagem de clientes</h3>
        <ul class="list-group">
        {% for person in persons %}

            <li class="list-group-item">
                <a href="{% url 'person_update' person.id %}">{{ person.first_name }}</a>
                <a href="{% url 'person_delete' person.id %}" class="btn btn-danger">
                    <i class="fa fa-trash" aria-hidden="true"></i>Delete
                </a>
                </a>

            </li>

        {% endfor %}
        </ul>
            <br>
            <a href="{% url 'person_new' %}" class="btn btn-info">Novo Cliente</a>

        </div>
        <div class="col">
            {% if user.is_authenticated %}
                <p>Ola {{ user.username }} <a href="{% url 'logout' %}" class="btn btn-info">Sair</a> </p>
            {% else %}

            {% endif %}


        </div>
    </div>


{% endblock %}

{% block footer %}

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Desenvovimento Web com Djanjo 2.0 Aqui tem coragem :D</span>
      </div>
    </footer>
{% endblock %}