{% extends 'base.html '%}

{% load filters %}

{$ load my_tags $}

{% block title %} Administração {% endblock %}

{% block main %}


    <div class="row">
        <div class="col-12">
            <form class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite o nome">
                </div>

                <button type="submit" class="btn btn-primary mb-2">Buscar</button>
            </form>
        </div>
    </div>
    <div class="col-4">

    </div>

    <div class="row">
        <div class="col">

        </div>
        <div class="col-6">
            <h3>Listagem de clientes</h3>
        <ul class="list-group">
        {% for person in persons %}

            <li class="list-group-item">
                <a href="{% url 'person_update' person.id %}">{{ person.first_name }}</a>
                <a href="{% url 'person_delete' person.id %}" class="btn btn-danger">
                    <i class="fa fa-trash" aria-hidden="true"></i>Delete
                </a>
                </a>

            </li>

            {% empty %}
                <li>Desculpe, a lista está vazia.</li>
        {% endfor %}
        </ul>
            <br>
            <a href="{% url 'person_new' %}" class="btn btn-info">Novo Cliente</a>

        </div>
        <div class="col">
            {% if user.is_authenticated %}
                <p>Ola {{ user.username }} <a href="{% url 'logout' %}" class="btn btn-info">Sair</a> </p>
            {% else %}

            {% endif %}


        </div>
    </div>

{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}